.login {
	background-color: var(--last-theme-color);
	color: black;
	width: 100px;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: "Open Sans", sans-serif;
	margin-right: 20px;
}

.login:hover {
	opacity: 0.8;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
}

.signup {
	background-color: var(--secondary-theme-color);
	color: black;
	padding: 0.5em;
	width: 100px;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: "Open Sans", sans-serif;
}

.signup:hover {
	opacity: 0.8;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: "Open Sans", sans-serif;
}
