.splash-page-one {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	background-image: url("https://c4.wallpaperflare.com/wallpaper/143/63/601/tropical-paradise-wallpaper-preview.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
	color: white;
}

.splash-text-content {
	margin-top:100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(115, 243, 243, 0);
	width: 80%;
}


.splash-text-content>h1 {
    font-size: 90px;
    font-style: italic;
    font-family:serif;
    color: white;
	border-bottom: 1px solid white;
}


.splash-sub-text {
	color: white;
	line-height: 30px;
    font-size: 20px;
	font-weight: 100;
	padding-bottom: 30px;
}

.splash-demo {
	width: 200px;
}

.splash-all-resort>button{
	color: black;
	border:none;
	width:100%;
	font-size: 20px;
	height: 40px;
	border-radius: 10px;
	background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%);
}

.splash-all-resort>button:hover{
	box-shadow: 4px 4px 8px red;
}