.singleResortBody {
	margin: 0 20% 0 20%;
}

.singleImageResort {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5em;
	gap: 2em;
}


.resortDescription {
	line-height: 1.5em;
	text-align: justify;
}

.resortHeader {
	display: flex;
}

.resortHeaderButtons {
	margin-left: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.divisionSpace {
	display: flex;
	margin-top: 1em;
}

.divisionLeft {
	margin-right: 3em;
}

.editResortBtn {
	background-color: #00509d;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: "Montserrat", sans-serif;
}

.editResortBtn:hover {
	background-color: #0473db;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
}

.deleteResortBtn {
	background-color: #c81d25;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	font-family: "Montserrat", sans-serif;
}

.deleteResortBtn:hover {
	background-color: #f51b26;
	color: white;
	padding: 0.5em;
	border: 1px solid transparent;
	border-radius: 0.5em;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
}




.divisionLeft{
	color: green;
}

.resortHeaderInfo>h1{
	color:green
}


.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.resortDescription{
	font-size: 20px;
	font-weight: 600;
}

.resort-amenities{
	border-left: 0.5px solid rgb(212, 211, 211);
	padding-left: 35px;
	margin-top: 25px;
}

.resort-amenities>h2{
	margin-top: -10px;
	color: green;
	text-decoration: 1px solid green underline;
}

.resort-amenities>p{
	color:green;
	font-weight: 600;
	font-size: 19px;
}

.divisionLeft>h2{
	text-decoration: 1px solid green underline;
}

.divisionLeft>h3{
	border: 1px solid green;
	width:fit-content;
	padding: 10px;
	color:black;
}

.main-review-div{
	border-top:  0.5px solid rgb(212, 211, 211);
	margin-top: 20px;
}