.singleResortBody {
	margin: 0 20% 0 20%;
}

.singleImageResort {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5em;
	gap: 2em;
}


.resortDescription {
	line-height: 1.5em;
	text-align: justify;
}

.resortHeader {
	display: flex;
	justify-content: center;
}


.divisionSpace {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	border-bottom:   0.5px solid rgb(212, 211, 211); 
	padding-bottom: 35px;
}

.divisionLeft {
	margin-right: 3em;
	width: 70%;
}


.divisionLeft{
	color: green;
}

.resortHeaderInfo>h1{
	color:black;
	font-size: 45px;
	margin-top: 30px;
	margin-bottom: 50px;
}


.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.resortDescription{
	font-size: 20px;
	font-weight: 600;
}

.resort-amenities{
	border-left: 0.5px solid rgb(212, 211, 211);
	padding-left: 35px;
	margin-top: 25px;
}

.resort-amenities>h2{
	margin-top: -10px;
	color: green;
	text-decoration: 1px solid green underline;
}


.divisionLeft>h2{
	text-decoration: 1px solid green underline;
}

.divisionLeft>h3{
	border: 1px solid green;
	width:fit-content;
	padding: 10px;
	color:black;
}

.main-review-div{
	margin-top: 20px;
	width: 40%;
}

.imagesResort-spare{
	height: 400px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
}

/*****************************************************************/

.amenities-img{
	width: 25px;
	height: 25px;
}


.amenities>span{
	color:green;
	font-weight: 600;
	font-size: 18px;
}


/********************************************************/

.review-map-section{
	display: flex;
	flex-direction: row;
}


.main-map-div{
	width: 55%;
	margin-top: 20px;
	margin-left: 10%;
	position: relative;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}


.map-sub-div{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: 425px;
}

#map-pointer-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}