.main-review-div{
	width:40%
}

.total-star-rating .review {
	opacity: 0.5;
	text-decoration: underline;
	text-align: center;
}

.ReviewCardContainer {
	margin: 25px;
	background-color: white;
	padding: 25px;
	width: fit-content;
	border-radius: 15px;
	/* border: 1px grey solid; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.ReviewHeaderContainer {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#getReviewsPhoto {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	object-fit: cover;
}

.ReviewHeaderRightContainer {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.RatingForm {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: rgb(148, 204, 170);
    border-radius: 20px;
    box-shadow: 3px 3px 7px green;
	width: 300px;
}

.RatingFormInner {
	display: flex;
	flex-direction: column;
}

.ReviewFormActionButtonsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReviewFormActionButtons {
	margin: 10px;
	cursor: pointer;
}

.NewRatingLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
	font-weight: 600;
}

.NewRatingDiv {
	margin: 10px;
}

.RatingFormInnerButtonsContainer {
	display: flex;
}

.RatingFormContainerNew {
	background-color: rgb(148, 204, 170);
	box-shadow: 3px 3px 7px green;
	padding: 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	border-radius: 20px;
}

.RatingFormNew {
	display: flex;
	flex-direction: column;
}

.RatingFormNewSubmit {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color:black;
    font-size: 15px;
    font-weight: 600;
	height: 30px
}

.RatingFormNewSubmit:hover{
	color:green;
    font-size: 17px;
}

.RatingFormContainerNewInner {
	font-size: larger;
	font-weight: 600;
}


/*******************************************************************/

.fa-edit{
    position:relative;
    z-index:1000;
    font-size: 20px;
    font-weight: 600;
    color:black;
}


.fa-edit:hover{
    color:green;
    font-size: 22px;
}

.EditReviewFormButton{
    background-color: transparent;
    border:none;
    
}

/***************************************************************/


.ReviewFormInnerButtons {
	margin-right: 10px;
    margin-bottom: 10px;
	margin-top: 2px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color:black;
    font-size: 15px;
    font-weight: 600;
}

.ReviewFormInnerButtons:hover{
    color:green;
    font-size: 17px;
}

/*********************************************************************/

.review-delete-button{
	display: flex;
	justify-content: center;
	align-items: center;
}


.review-delete-button>i{
	text-align: center;
    background-color: white;
    border-radius: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    width: 70px;
    height: 25px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 10px;
}

.review-delete-button:hover>i{
    color: red;
    font-size: 24px;
}

.delete-review-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	height: 300px;
}

.delete-review-modal{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:80%;
	margin-left: 10%;
}

.delete-review-modal>h2{
	text-align: center;
	color: rgb(9, 94, 9);
}

.delete-review-btn{
	width: 100px;
	color: white;
	font-size: 20px;
	border: none;
	height: 35px;
	border-radius: 20px;
	background-color: rgb(243, 69, 69);
	box-shadow: 0px 5px 10px red;
}

.delete-review-btn:hover{
	background-color: red;
	font-size: 22px;
	width: 110px;
	height: 40px;
	box-shadow: 0px 6px 11px rgb(65, 3, 3);
}

/******************************************************************/

.ReviewFormActionButtons.CloseBtn {
    text-align: center;
	padding: 4px;
	border-radius: 20px;
	font-size: small;
	color: red;
    border: none;
    font-size: 20px;
    margin-right: -250px;
    margin-bottom: -18px;
    width: 40px;
    height: 35px;
}


.ReviewFormActionButtons.CloseBtn:hover{
    font-size: 23px;
}


/*******************************************************************/

.err-msg-div{
	width: 100%;
}


.review-err-msg{
	margin-top: 10px;
	color:rgb(219, 3, 3);
	text-align: center;
	font-size: 18px;
	font-weight:600;
}