.total-star-rating .review {
	opacity: 0.5;
	text-decoration: underline;
	text-align: center;
}

.ReviewCardContainer {
	margin: 25px;
	background-color: white;
	padding: 25px;
	width: fit-content;
	border-radius: 15px;
	/* border: 1px grey solid; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.ReviewHeaderContainer {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#getReviewsPhoto {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	object-fit: cover;
}

.ReviewHeaderRightContainer {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.RatingForm {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: rgb(148, 204, 170);
    border-radius: 20px;
    box-shadow: 3px 3px 7px green;
}

.RatingFormInner {
	display: flex;
}

.ReviewFormActionButtonsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReviewFormActionButtons {
	margin: 10px;
	cursor: pointer;
}



.NewRatingLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.NewRatingDiv {
	margin: 10px;
}

.RatingFormInnerButtonsContainer {
	display: flex;
}

.RatingFormContainerNew {
	background-color: #b9b9b9;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.RatingFormNew {
	display: flex;
	flex-direction: column;
}

.RatingFormNewSubmit {
	border-radius: 10px;
	color: white;
}

.RatingFormContainerNewInner {
	font-size: larger;
	margin: 40px;
}


.fa-edit{
    position:relative;
    z-index:1000;
    font-size: 20px;
    font-weight: 600;
    color:black;
}


.fa-edit:hover{
    color:green;
    font-size: 22px;
}

.EditReviewFormButton{
    background-color: transparent;
    border:none;
    
}

/***************************************************************/


.ReviewFormInnerButtons {
	margin-right: 10px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    color:black;
    font-size: 15px;
    font-weight: 600;
}

.ReviewFormInnerButtons:hover{
    color:green;
    font-size: 17px;
}

/*********************************************************************/


.review-delete-button{
    background-color: white;
    border-radius: 20px;
    width: 70px;
    height: 39px;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 2px;
    margin-bottom: 10px;
}

.review-delete-button:hover{
    color: red;
    font-size: 24px;
}

/******************************************************************/

.ReviewFormActionButtons.CloseBtn {
    text-align: center;
	padding: 4px;
	border-radius: 20px;
	font-size: small;
	color: red;
    border: none;
    font-size: 20px;
    margin-right: -250px;
    margin-bottom: -18px;
    width: 40px;
    height: 35px;
}


.ReviewFormActionButtons.CloseBtn:hover{
    font-size: 23px;
}