/*Loading styles */
.loading {
	width: 500px;
	margin: auto auto;
}

/*Splash Page styles */



.aboutUsLinks {
	display: flex;
	margin-right: 1em;
}

.aboutUsLink {
	margin-right: 1em;
}

/* Home Page Styles */
.home-page {
	width: 100%;
	height: 100%;
}

/* resorts Card Styles */
.resorts-card-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 5px 40px;
}

.resorts-card {
	display: flex;
	flex-direction: column;
	padding: 20px;
	height: fit-content;
}

.resorts-card .slider {
	position: relative;
}

.resorts-card .slider img {
	width: 35vh;
	height: 35vh;
	object-fit: cover;
	border-radius: 20px;
}

.resorts-card .slider .react-icons {
	color: white;
	font-size: 1.5rem;
	z-index: 1;
	cursor: pointer;
	padding: 2px;
}

.right-clicker {
	position: absolute;
	top: 50%;
	right: 2%;
}

.left-clicker {
	position: absolute;
	top: 50%;
	left: 2%;
}

.resorts-card-botttom {
	display: flex;
	flex-direction: column;
}

.resorts-card-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-top: 10px;
}

.resorts-card-header .bold {
	width: 40%;
}

.resorts-card-header .total-star-rating p {
	text-align: center;
}
.total-star-rating .review {
	opacity: 0.5;
	text-decoration: underline;
	text-align: center;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.08);
}

.ReviewCardContainer {
	margin: 25px;
	background-color: rgb(202, 202, 202);
	padding: 25px;
	width: fit-content;
	border-radius: 15px;
	border: 2px black solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ReviewHeaderContainer {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

#getReviewsPhoto {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	object-fit: cover;
}

.ReviewHeaderRightContainer {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.RatingForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.RatingFormInner {
	display: flex;
}

.ReviewFormActionButtonsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ReviewFormActionButtons {
	margin: 10px;
	cursor: pointer;
}

.ReviewFormActionButtons.CloseBtn {
	background-color: #4a4a4a;
	border: black 1px solid;
	padding: 4px;
	border-radius: 5px;
	font-size: small;
	color: white;
}

.EditReviewFormButton {
	margin: 10px;
}

.NewRatingLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.NewRatingDiv {
	margin: 10px;
}

.RatingFormInnerButtonsContainer {
	display: flex;
}

.ReviewFormInnerButtons {
	margin-left: 10px;
	margin-right: 10px;
}

.RatingFormContainerNew {
	background-color: #b9b9b9;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.RatingFormNew {
	display: flex;
	flex-direction: column;
}

.RatingFormNewSubmit {
	border-radius: 10px;
	color: white;
}

.RatingFormContainerNewInner {
	font-size: larger;
	margin: 40px;
}
